*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#111;
}
.landing{
    position:relative;
    height:100vh;
    background:url("images/landing.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.overlay{
    position:absolute;
    inset:0;
    background:rgba(47, 44, 44, 0.278);
}
.content{
    position:relative;
    z-index:2;
}
.line{
    width:80px;
    height:3px;
    background:#c9a84c;
    margin:0 auto 30px;
}
.content h1{
    font-family:'Orbitron',sans-serif;
    font-size:60px;
    color:#dbd6b6;
}
.content p{
    color:#c9a84c;
    letter-spacing:5px;
    margin:20px 0 40px;
}
.GameButton button{
    background:#c9a84c;
    color:#000;
    border:none;
    padding:15px 40px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}
.GameButton button:hover{
    background:rgb(238, 231, 202);
    transform:translateY(-3px);
}
.about{
    background:#111;
    color:white;
    padding:80px 10%;
}
.about-container{
    display:flex;
    align-items:center;
    gap:50px;
}
.about-image,
.about-text{
    flex:1;
}
.about-image img{
    width:100%;
    border-radius:10px;
}
.about-text h2{
    color:#c9a84c;
    margin-bottom:20px;
    font-family:'Orbitron',sans-serif;
}
.about-text p{
    line-height:1.8;
}
.games-section{
    background:#000;
    padding:50px 0;
}
.games-title{
    text-align:center;
    color:#c9a84c;
    font-family:'Orbitron',sans-serif;
    font-size:40px;
    margin-bottom:40px;
}
.games-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:0;
}
.games-grid img{
    width:100%;
    height:180px;
    object-fit:cover;
    display:block;
    transition:0.3s;
}
.games-grid img:hover{
    transform:scale(1.03);
    z-index:1;
}
.availability-section{
    padding:80px 10%;
    background:#111;
    text-align:center;
}

.availability-title{
    color:#c9a84c;
    font-size:40px;
    margin-bottom:30px;
    font-family:'Orbitron',sans-serif;
}

.schedule{
    display:grid;
    grid-template-columns:100px repeat(7,1fr);
    gap:4px;
    max-width:1000px;
    margin:auto;
}

.schedule-header,
.time{
    background:#222;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
}
.cell{
    height:50px;
    border-radius:4px;
}
.available{
    background:#1b1b1b;
    border:1px solid #444;
}
.booked{
    background:#c9a84c;
}
.cell{
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
    color:white;
    font-weight:600;
    text-align:center;
}
.booked{
    background:#c9a84c;
    color:black;
}
.console-section{
    background:#000;
    padding:80px 5%;
}
.console-title{
    text-align:center;
    color:#c9a84c;
    font-family:'Orbitron',sans-serif;
    margin-bottom:40px;
}
.console-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    background:#000;
}
.console-card{
    width:300px;
    background:#1a1a1a;
    transition:.3s;
}
.console-card:hover{
    transform:translateY(-10px);
}
.console-card img{
    width:100%;
    height: 300px;
    object-fit:cover;
}
.console-info{
    padding:20px;
    color:white;
}
.console-info h3{
    color:#c9a84c;
    margin-bottom:10px;
}
.contact-section{
    display: flex;
    gap:40px;
    width: 100%;
    min-height:500px;
    background:#111;
    color:white;
    padding:60px;
}

.contact-content h2{
    color:#d4af37;
    font-size:40px;
    margin-bottom:20px;
    letter-spacing:3px;
}

.contact-content p{
    font-size:18px;
    line-height:1.8;
}

.contact-info{
    margin-top:25px;
}

.contact-info p{
    display:flex;
    align-items:center;
    gap:15px;
    margin:15px 0;
}

.contact-info i{
    color:#d4af37;
    font-size:20px;
}

.social-icons{
    margin-top:25px;
}

.social-icons a{
    color:#d4af37;
    font-size:28px;
    margin-right:20px;
    transition:.3s;
}

.social-icons a:hover{
    color:white;
}